body{background-color: #121212;
color: #f5f5f5;}
input{
    background-color:rgb(12, 12, 12);
}
input::placeholder, textarea::placeholder {
    color: #8e8e93;         
    font-family: sans-serif; 
    font-size: 14px;        
    font-style: italic;     
    opacity: 1;             
}
label{
    font-size: 20px;
    font-style: bold;

}
